$pad: 18px;

$bord: 4px;
$bord-c: blue;

body,
* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
}

body {
  // min-height: 1080px;
  // min-width: 1080px;
  background: #ccc;

  // overflow-y: hidden;
}

.generic-field {
  font-size: 14px;
  padding: $pad/3;
  border: 1px solid black;
  &.invalid-value {
    background: rgba(255, 0, 0, 0.2);
    border-color: red;
  }
}

.generic-button {
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: $pad/2 $pad;
  width: 100%;
}

.small-button {
  font-size: 10px;
  padding: $pad/4 $pad/2;
}

.canv {
  margin: $pad;
  transform-origin: left top;
  transform: scale(0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#image-upload-panel {
  display: grid;
  grid-gap: $pad/2;

  &.no-img .generic-button {
    display: none;
  }
  &:not(.no-img) input {
    display: none;
  }

  .generic-button {
    @extend .small-button;
  }
}

.hidden-panel {
  & > * {
    visibility: hidden;
  }
  &:after {
    content: "Construindo painel...";
    font-size: 20px;
  }
}

.slider-container {
  padding: 0 $pad/2;
  input[type="range"] {
    width: 100%;
  }
}

.fake-title {
  font-weight: 700;
}

#control-panel {
  overflow-y: auto;
  z-index: 1;

  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 24rem;
  background: white;

  display: grid;
  grid-gap: $pad;
  padding: $pad;

  h3 {
    margin: 0;
    grid-column: 1 / -1;
  }
}

.panel {
  display: grid;
  grid-gap: $pad;
}

#text-panel {
  grid-gap: 0;
  textarea {
    @extend .generic-field;
    margin-top: $pad/4;
    margin-bottom: $pad/2;
    box-sizing: border-box;
    width: 100%;
    border: none;
    background: #eee;
    min-height: 6rem;
  }
  #text-placement {
    margin-bottom: $pad/2;
  }
  .generic-button {
    margin-top: $pad/2;
    @extend .small-button;
    background: gray;
  }
}

#text-color {
  grid-template-columns: repeat(9, 1fr);
  margin-top: $pad/2;
  margin-bottom: $pad * 2/3;
  input {
    grid-column: 1 / -1;
    @extend .generic-field;
    text-align: center;
  }
}

#tints-panel {
  grid-template-columns: repeat(5, 1fr);
}

#tints-panel,
#text-color {
  display: grid;
  grid-gap: $pad/2;

  &.disabled {
    opacity: 0.3;
  }

  .tint {
    min-height: 1rem;
    border: $bord solid transparent;
  }
  &:not(.disabled) {
    .tint {
      cursor: pointer;
      &:hover,
      &.selected {
        border-color: $bord-c;
      }
    }
  }
}

#misc-panel {
  display: grid;
  grid-gap: $pad;
}

.white-but {
  display: block;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
  background: black;
  position: relative;
}

#logo-placement {
  grid-template-columns: repeat(4, 1fr);
  .logo-sim {
    &:after {
      width: $pad;
      height: $pad;
      border-radius: 50%;
      position: absolute;
    }
    &.bottom:after {
      bottom: $pad/6;
    }
    &.top:after {
      top: $pad/6;
    }
    &.left:after {
      left: $pad/6;
    }
    &.right:after {
      right: $pad/6;
    }
  }
}

#text-placement {
  grid-template-columns: repeat(3, 1fr);
  .logo-sim {
    display: flex;
    padding: $pad/6 $pad/3;
    &:after {
      width: 100%;
      height: $pad/2;
      border-radius: $pad;
    }
    &.top {
      align-items: flex-start;
    }
    &.center {
      align-items: center;
    }
    &.bottom {
      align-items: flex-end;
    }
  }
}

#logo-placement,
#text-placement {
  display: grid;
  grid-row-gap: $pad/4;
  grid-column-gap: $pad/2;
  .logo-sim {
    @extend .white-but;
    &:after {
      content: "";
      background: white;
    }
    &:hover,
    &.selected {
      background: $bord-c;
    }
  }
}

#text-align {
  display: grid;
  margin-bottom: $pad/2;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: $pad/4;
  grid-column-gap: $pad/2;
  h3 {
    grid-column: 1 / span 3;
  }
  a {
    grid-row: 2;
    @extend .white-but;
    background: none;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;

    &:hover,
    &.selected {
      border-color: $bord-c;
      background-color: $bord-c;
    }
    &.align-left {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9 IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMjgwIDQ4SDhhOCA4IDAgMCAwLTggOHYx NmE4IDggMCAwIDAgOCA4aDI3MmE4IDggMCAwIDAgOC04VjU2YTggOCAwIDAgMC04 LTh6bTE2MCAzODRIOGE4IDggMCAwIDAtOCA4djE2YTggOCAwIDAgMCA4IDhoNDMy YTggOCAwIDAgMCA4LTh2LTE2YTggOCAwIDAgMC04LTh6TTI4MCAzMDRIOGE4IDgg MCAwIDAtOCA4djE2YTggOCAwIDAgMCA4IDhoMjcyYTggOCAwIDAgMCA4LTh2LTE2 YTggOCAwIDAgMC04LTh6bTE2MC0xMjhIOGE4IDggMCAwIDAtOCA4djE2YTggOCAw IDAgMCA4IDhoNDMyYTggOCAwIDAgMCA4LTh2LTE2YTggOCAwIDAgMC04LTh6Ii8+ PC9zdmc+");
    }
    &.align-center {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9 IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMzQ0IDQ4SDEwNGE4IDggMCAwIDAtOCA4 djE2YTggOCAwIDAgMCA4IDhoMjQwYTggOCAwIDAgMCA4LThWNTZhOCA4IDAgMCAw LTgtOHptOTYgMzg0SDhhOCA4IDAgMCAwLTggOHYxNmE4IDggMCAwIDAgOCA4aDQz MmE4IDggMCAwIDAgOC04di0xNmE4IDggMCAwIDAtOC04em0tOTYtMTI4SDEwNGE4 IDggMCAwIDAtOCA4djE2YTggOCAwIDAgMCA4IDhoMjQwYTggOCAwIDAgMCA4LTh2 LTE2YTggOCAwIDAgMC04LTh6bTk2LTEyOEg4YTggOCAwIDAgMC04IDh2MTZhOCA4 IDAgMCAwIDggOGg0MzJhOCA4IDAgMCAwIDgtOHYtMTZhOCA4IDAgMCAwLTgtOHoi Lz48L3N2Zz4=");
    }
    &.align-right {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9 IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNNDQwIDQ4SDE2OGE4IDggMCAwIDAtOCA4 djE2YTggOCAwIDAgMCA4IDhoMjcyYTggOCAwIDAgMCA4LThWNTZhOCA4IDAgMCAw LTgtOHptMCAzODRIOGE4IDggMCAwIDAtOCA4djE2YTggOCAwIDAgMCA4IDhoNDMy YTggOCAwIDAgMCA4LTh2LTE2YTggOCAwIDAgMC04LTh6bTAtMTI4SDE2OGE4IDgg MCAwIDAtOCA4djE2YTggOCAwIDAgMCA4IDhoMjcyYTggOCAwIDAgMCA4LTh2LTE2 YTggOCAwIDAgMC04LTh6bTAtMTI4SDhhOCA4IDAgMCAwLTggOHYxNmE4IDggMCAw IDAgOCA4aDQzMmE4IDggMCAwIDAgOC04di0xNmE4IDggMCAwIDAtOC04eiIvPjwv c3ZnPg==");
    }
  }
}

#watercolor-background {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $pad/3;

  &.disabled {
    opacity: 0.3;
  }

  a {
    img {
      border: $bord solid transparent;
      border-radius: 50%;
      width: calc(100% - #{2 * $bord});
    }
    width: 100%;
    display: block;
    font-size: 0;
  }

  &:not(.disabled) {
    cursor: pointer;
    a:hover img,
    a.selected img {
      border-color: $bord-c;
    }
  }
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#save-panel {
  margin-bottom: $pad * 3/2;
}
