$pad: 18px;

$bord: 4px;
$bord-c: blue;

body,
* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
}

body {
  // min-height: 1080px;
  // min-width: 1080px;
  background: #ccc;

  // overflow-y: hidden;
}

.generic-button {
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: $pad/2 $pad;
  width: 100%;
}

.small-button {
  font-size: 10px;
  padding: $pad/4 $pad/2;
}

.canv {
  margin: $pad;
  transform-origin: left top;
  transform: scale(0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#image-upload-panel {
  display: grid;
  grid-gap: $pad/2;

  &.no-img .generic-button {
    display: none;
  }
  &:not(.no-img) input {
    display: none;
  }

  .generic-button {
    @extend .small-button;
  }
}

.hidden-panel {
  & > * {
    visibility: hidden;
  }
  &:after {
    content: "Construindo painel...";
    font-size: 20px;
  }
}

.slider-container {
  padding: 0 $pad/2;
  input[type="range"] {
    width: 100%;
  }
}

.fake-title {
  font-weight: 700;
}

#control-panel {
  overflow-y: auto;
  z-index: 1;

  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 24rem;
  background: white;

  display: grid;
  grid-gap: $pad;
  padding: $pad;

  h3 {
    margin: 0;
    grid-column: 1 / -1;
  }
}

.panel {
  display: grid;
  grid-gap: $pad;
}

#text-panel {
  grid-gap: 0;
  textarea {
    margin-top: $pad/4;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    padding: $pad/3;
    border: none;
    background: #eee;
    min-height: 6rem;
  }
  .generic-button {
    margin-top: $pad/2;
    @extend .small-button;
    background: gray;
  }
}

#tints-panel {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $pad/2;

  &.disabled {
    opacity: 0.3;
  }

  .tint {
    min-height: 1rem;
    border: $bord solid transparent;
  }
  &:not(.disabled) {
    .tint {
      cursor: pointer;
      &:hover,
      &.selected {
        border-color: $bord-c;
      }
    }
  }
}

#misc-panel {
  display: grid;
  grid-gap: $pad;
}

#logo-placement {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: $pad/4;
  grid-column-gap: $pad/2;
  .logo-sim {
    display: block;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    background: black;
    position: relative;
    &:hover,
    &.selected {
      background: $bord-c;
    }
    &:after {
      content: "";
      position: absolute;
      width: $pad;
      height: $pad;
      border-radius: 50%;
      background: white;
    }
    &.bottom:after {
      bottom: $pad/6;
    }
    &.top:after {
      top: $pad/6;
    }
    &.left:after {
      left: $pad/6;
    }
    &.right:after {
      right: $pad/6;
    }
  }
}

#watercolor-background {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: $pad/3;

  &.disabled {
    opacity: 0.3;
  }

  a {
    img {
      border: $bord solid transparent;
      border-radius: 50%;
      width: calc(100% - #{2 * $bord});
    }
    width: 100%;
    display: block;
    font-size: 0;
  }

  &:not(.disabled) {
    cursor: pointer;
    a:hover img,
    a.selected img {
      border-color: $bord-c;
    }
  }
}
