$pad: 18px;

body,
* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
}

body {
  // min-height: 1080px;
  // min-width: 1080px;
  background: #ccc;

  // overflow-y: hidden;
}

.canv {
  margin: $pad;
  transform-origin: left top;
  transform: scale(0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#file-input {
}

#input-controllers {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  background: palegoldenrod;
  padding: $pad;

  display: flex;
}
